absl-py
astunparse
autopep8
bcrypt
blinker
cachelib
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
distlib
filelock
Flask
Flask-Cors
Flask-OAuthlib
Flask-SQLAlchemy
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
inflection
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
more-itertools
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pycodestyle
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
Quandl
requests
requests-oauthlib
rsa
scikit-learn
scipy
screenpen
sip
six
sklearn
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
wrapt
